// COLORS
// $green: #19ba99;
// $orange: orange;
// $red: red;
//FONT MAPPINGS
//$primary-font: "Charmonman", cursive;
$rood: #a53333;
$blauw: #749ca1;
$donkerblauw: #1f2832;
$groen: rgb(51, 166, 84);
