@use "./base/variables" as *;
@use "./base/reset";
@use "./base/fonts";
@use "./base/mixins" as *;

@import "../../icons/style";

html,
body {
  height: 100vh;
}

body {
  background-color: pink;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  max-width: 800px;
}

// @include make-col(2, 0.675rem);

.scene {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  .card {
    width: 100px;
    height: 150px;
    text-align: center;
    font-size: 32px;
    margin: 15px;
    perspective: 1000px;
    transition: all 1s;
    cursor: pointer;

    .flipdiv {
      width: 100%;
      height: 100%;
      transition: transform 1s;
      transform-style: preserve-3d;
      position: relative;
    }

    &.flipped {
      .flipdiv {
        transform: rotateY(180deg);
      }
    }
    &.block {
      &:hover {
        cursor: not-allowed;
      }
    }
    .card__face {
      position: absolute;
      width: 100%;
      height: 100%;
      color: white;
      text-align: center;
      font-size: 40px;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      border-radius: 8px;
      box-shadow: 4px 2px 15px 0 rgba(60, 61, 62, 0.2);
      transition: all 400ms ease-in-out;
      &--front {
        background-color: $donkerblauw;
      }
      &--back {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $blauw;
        transform: rotateY(180deg);
        &.match {
          background-color: $groen;
          cursor: default;
        }
        &.nomatch {
          background-color: $rood;
        }
      }
    }
  }
}
